<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирования профиля</title>
</head>
<body>
<div class="topnav" align="center">
  <style>
        body{background-image: url(/static/back.png);
        font-family: Arial,serif}
        h2 { text-align: center }
        h1 {text-align: center}
        form{text-align: center;
        font-family: Arial,serif}
    </style>
    <h2>
        <a class="active" href="/">Главная</a>
            {% if not current_user %}
        <a href="{{url_for('register')}}">Войти или Зарегистрироваться</a>
            {% else %}
         <a href="{{url_for('logout')}}">Выйти</a>
        <a href="{{url_for('logout')}}">Сменить логин или пароль</a>
            {% endif %}
            {% if is_admin == 1 %}
        <a href="{{url_for('admin')}}">Панель администратора</a>
            {% endif %}
    </h2>
</div>
<h1>Редактировать портфолио</h1>
<form method = 'post'>
    <input type="text" name ="name" id="name" placeholder={{profile.name}}><br><br>
    <textarea name="surname" id ="surname" placeholder={{profile.surname}}></textarea><br><br>
    <textarea name="about" id ="about" placeholder={{profile.about}}></textarea><br><br>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>