<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        body{background-image: url(/static/back.png);
        font-family: Arial,serif}
        form{font-family: Arial,serif}
    </style>
</head>
<body>
<div class="topnav" align="center">
    <h2>
  <a class="active" href="/">Главная</a> <a class="active" href="/login">Войти</a>
    </h2>
    Регистрация
    <form action="/register" method="post" class="form-contact">
        <p><label>Логин: </label> <label>
            <input type="text" name="login" value="" required />(минимум 5 символов):
        </label>
        <p><label>Пароль: </label> <label>
            <input type="password" name="pass" value="" required />(минимум 5 символов):
        </label>
        <p><label>Повторите пароль: </label> <label>
            <input type="password" name="pass2" value="" required />
        </label>
        <p><input type="submit" value="Регистрация"></p>
    </form>
</div>
</body>
</html>